@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  position: relative;
  background-color: hsl(0, 0%, 86%);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  src: url("./componentes/fonts/Poppins-ExtraBoldItalic.ttf");
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
